body {
  background: rgb(250,250,255);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-family: Montserrat, Arial, Helvetica, sans-serif;

}
.graphic-main {
  max-width: 500px;
}
.page-content {
  display: flex;

}
.fullbanner {

}
.banner-text {
  padding: 60px 10px;

  @media (min-width: 1024px) {
    padding: 60px 40px;

    font-size: 1.5rem;

  }
  // background: rgba(#fff, 0.8);
  // background-color: rgba(lighten($color: #DD4439, $amount: 0%),0.5);
  color: white;
  text-align: center;
  h2 {
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
  }

  h2 {
    font-weight: 300;
    margin-bottom: 1.2rem;


  }
  h3 {
    font-weight: 300;
    color: #ddd;
    margin-bottom: 1.1rem;
  }
  h4 {
    font-weight: 400;
    font-size: 1rem;

    @media (min-width: 1024px) {

      font-size: 1.5rem;

    }
    a {

      color: inherit;
      &:hover {
        color: inherit;
      }
    }
  }


  p {
    line-height: 1.5;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 1.4rem;

  }
}
header {

  background-image:url('/static/imgs/bg2.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid lighten($color: #333, $amount: 15%);

}
.top-bar {
  padding: 20px 20px;
  @media (min-width: 1024px) {

    padding: 20px 40px;


  }
  // background-color: rgba(lighten($color: #DD4439, $amount: 0%),0.5);
  // border-bottom: 5px solid lighten($color: #DD4439, $amount: 10%);
  margin-bottom: 0px;
  text-align: center;
  color: white;

  display: flex;
  justify-content: space-between;
  .navbar-brand {
    margin: 0;
    font-weight: 400;
    font-size: 1.2rem;
    @media (min-width: 1024px) {

      font-size: 1.8rem;
      width: 50%;


    }
  }
}

.btn-lg {
  font-size: 1.2em;
  padding: .5rem 1.5rem;
  margin-right: 1rem;
  @media (max-width: 1023px) {

    display: block;
    margin-bottom: 1rem


  }
}
.btn-info {
  background: #2092ED;
  border-bottom: 3px solid lighten($color: #2092ED, $amount: 20%);
  &:hover, &:focus {
    background: lighten($color: #2092ED, $amount: 3%);
    border: 1px solid lighten($color: #2092ED, $amount: 20%);

    border-bottom: 3px solid lighten($color: #2092ED, $amount: 20%);

  }
}
.navbar-dark .navbar-nav .nav-link  {
  color: white;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1.1em;
}
.main-actions {

  @media (min-width: 1024px) {

    display: flex;


  }


}
.main-actions-wrapper {
  border-bottom: 1px solid #ddd;
}
.action {
  width: 100%;
  @media (min-width: 1024px) {

    width: 50%;


  }
  text-align: center;
  padding: 40px 0;

}
.right-action {
  @media (min-width: 1024px) {

    border-left: 1px solid #ddd;

  }
}
.main-action-btn-wrapper {
  margin-top: 2rem;
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
}

.contact-us-message {
  padding: 40px 0;
  text-align: center;
  font-size: 1.1rem;
}
.page-footer {
  text-align: center;
  color: #555;
  font-size: 0.9em;
  padding: 1rem 0;

}