
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Playfair+Display:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

  </head>
  <body>
    <header class="no-bg">
      <nav class="navbar navbar-expand-lg navbar-dark top-bar">
        <a class="navbar-brand" href="#">Covid 19 Ahaar Help</a>
        <div class="navbar-right-menu">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('show_home_mumbai') }}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('addmumbaimeal') }}">Ask For Help</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('pendingmumbai') }}">Contribute</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('completedmumbai') }}">Completed List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contactmumbai') }}">Contact Us</a>
              </li>

            </ul>
          </div>
        </div>

      </nav>
      </header>
    <div class="main-page">

	<p id="demo"></p>


	<script>
    $("#file-picker").change(function(){


        var input = document.getElementById('file-picker');
        for (var i=0; i<input.files.length; i++)
        {
        //koala.jpg, koala.JPG substring(index) lastIndexOf('a') koala.1.jpg
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()
            file_names=file_names+ext
            if ((ext == 'jpg') || (ext == 'png') || (ext  == 'jpeg'))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }
        }


    } );
	</script>


	<form action="/load_in_sheet_mumbai" method="post" enctype="multipart/form-data">



		<div class="container">
		  <h2 class="mb-4 mt-4">How to request for help?</h2>

				<ol class="helplist">
					<li>
						Identify people in need of help. You may check on your domestic help, security guards, sanitary workers, their families, old, sick, or specially-abled neighbours.
					</li>
					<li>
						Enter the details of such persons or families in the form given below.
						<ul>
							<li>
								Specify their names in the given field.
							</li>
							<li>
								Specify the number of people and the category of help required (meal/raashan) in the given field.
							</li>
							<li>
								Please mention the locality, landmark and exact address with pincode in the 'Address' field.
							</li>
							<li>
								Please be sure to mention their phone number to allow helpers to reach them.
							</li>
						</ul>
					</li>
					<li>
						Add your name and contact details in the 'Requester' section.
					</li>
					<li>
						If you are in need of help requesting for yourself, please enter your details in both 'Name' and 'Requester Name' fields and make sure that the contact numbers are same too.
					</li>

				</ol>
				<hr />
		  <!-- <form action="/get_reviews"> -->
		    <div class="form-group">
		    	<label>Name:</label>
		      	<input type="text" onfocus="this.value=''" class="form-control" id="requestor_name" placeholder="Name" name="requestor_name" required>
	      	</div>



			<div class="form-group">
		      	<label>Number of people who need help:</label>
		      	<input type="text"  class="form-control" id="fam_size" placeholder="Number of people under this request" name="num_needy">
		    </div>


		    <div class="form-group">
		      	<label>Category of Help needed:</label>
		      	<select class="form-control" id="type_help" name="type_help">
				  <option value="meal">Meal</option>
				  <option value="ration">Ration</option>
			  	</select>
		    </div>

	      	<div class="form-group">
		    	<label>City:</label>
		      	<input readonly type="text" value="Mumbai" class="form-control" id="requestor_city" placeholder="City" name="requestor_city" required>
	      	</div>



	      	<div class="form-group">
		    	<label>Address:</label>
		      	<input type="text"  class="form-control" id="requestor_address" placeholder="Address(Please mention Pincode)" name="requestor_address" required>
	      	</div>

	      	<div class="form-group">
		    	<label>Locality:</label>
		      	<input type="text"  class="form-control" id="requestor_locality" placeholder="Locality" name="requestor_locality" required>
	      	</div>

	      	<div class="form-group">
		    	<label>Landmark:</label>
		      	<input type="text"  class="form-control" id="requestor_landmark" placeholder="Landmark" name="requestor_landmark" required>
	      	</div>


	      	<div class="form-group">
		      	<label>Contact Number(10 digit Mobile):</label>
		      	<input type="text" onfocus="this.value=''" class="form-control" id="contact_num" placeholder="Contact Number" name="contact_num" required>
		    </div>

		    <hr>

		    <div class="form-group">
		    	<label>Requestor Name:</label>
		      	<input type="text" onfocus="this.value=''" class="form-control" id="volunteer_name" placeholder="Requestor Name" name="volunteer_name">
	      	</div>

	      	<div class="form-group">
		      	<label>Requestor Contact Number(10 digit Mobile):</label>
		      	<input type="text"  class="form-control" id="vol_contact_num" placeholder="Requestor Contact Number" name="vol_contact_num">
		    </div>


		    <button type="submit" class="mt-4 blue btn-lg btn-center btn btn-info ">Submit</button>
		</div>


	</form>



    </div>
  </body>
  </html>