

<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Playfair+Display:wght@400;500;600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
		<style>
			table {
			  border-collapse: collapse;
			  width: 100%;
			}
		</style>
  </head>
  <body>
    <header class="no-bg">
      <nav class="navbar navbar-expand-lg navbar-dark top-bar">
        <a class="navbar-brand" href="#">Covid 19 Ahaar Help</a>
        <div class="navbar-right-menu">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('show_home_mumbai') }}">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('completedmumbai') }}">Completed List</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{ url_for('ngomumbai') }}">Donate to NGO</a>
			  </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('contactmumbai') }}">Contact Us</a>
              </li>

            </ul>
          </div>
        </div>

      </nav>
      </header>
    <div class="main-page">

		<div class="container-fluid mt-4">
			<div>
				<h2>
					How can you help?
				</h2>
				<p>
					Can you help somebody with a cooked meal or raashan?

				</p>
				<ol class="helplist">
					<li>
						Enter your details
						<ul>
							<li>
								Please mention your name or organisation name

							</li>
							<li>
								Please specify if you are an NGO, a group or an individual

							</li>
							<li>
								Add your contact number
							</li>
						</ul>
					</li>
					<li>
						Select the persons/families you want to help by ticking the checkbox. Press 'Confirm the contribution' button, it will take you to the final screen.
					</li>
					<li>
						We suggest noting down the details (name, address, phone number, and request) or take a screenshot.
					</li>
					<li>
						Please enter the OTP sent on your number to verify and give the final confirmation. You can also check the details of the request in the completed list.
					</li>
				</ol>


			</div>
			<div class="jumbotron jumbotron-fluid container_black_text p-4 mt-4">

						<p class="thick">
							The below families are yet to be helped.
							We hope that you will be able to come forward and provide them with meals.
						</p>
						<p class="normal">
							Please select the families you want to help using the check box, checkout with your mobile number and give the OTP in the next screen to confirm your contribution.
						</p>

			</div>
		</div>
		<div class="container-fluid checkout-form">
			<form action="/checkoutmumbai" method="post" enctype="multipart/form-data">
				<div class="">

					<div class="form-group" >
						<label>Name:</label>
				    <input type="text" onfocus="this.value=''" class="form-control" id="contrib_name" placeholder="Contributor Name" name="contrib_name" >
				  </div>

				    <div class="form-group">
				      	<label>Are you an NGO, a group or an individual:</label>
				      	<select class="form-control" id="contrib_type" name="contrib_type">
						  <option value="NGO">NGO</option>
							<option value="Individual">Individual</option>
						  <option value="Group">Group</option>

					  	</select>
		    		</div>


					<div class="form-group" >
						<label>Contact Number(10 digit Mobile):</label>

				    <input type="text" onfocus="this.value=''" class="form-control" id="contact_num" placeholder="Contact Number" name="contact_num" >
				  </div>

				    <!-- <div class="form-group" >
						<div class ="row"> <label>Amount that you would like to pledge(Minimum 500):</label> </div>

				      	<div class = "row"><input type="text" onfocus="this.value=''" class="form-control" id="amount_pledged" placeholder="Amount Pledged" name="amount_pledged" ></div>
				    </div>
 -->



				</div>

		</div>

			<div class="container-fluid">
						<hr>

				<div class="search-fields">
					<div>
						<input class="form-control" type="text" id="myAddressInput" onkeyup="myAddressFunction()" placeholder="Search by address/pincode.." title="Type in an address">
					</div>
					<div>
						<input class="form-control " type="text" id="myLocalityInput" onkeyup="myLocalityFunction()" placeholder="Search by locality.." title="Type in a locality">
					</div>

					<div>
						<input class="form-control" type="text" id="myLandmarkInput" onkeyup="myLandmarkFunction()" placeholder="Search by landmark.." title="Type in a landmark">
					</div>

					<div>
						<input class="form-control" type="text" id="myHelpTypeInput" onkeyup="myHelpTypeFunction()" placeholder="Search by meal/ration.." title="Type in meal/ration">
					</div>
				</div>
				<div class=''>
					<div class="table-responsive">
						<table id="pendingTable" class="table table-striped super-responsive">
							<tr>

								<th>Take this Request</th>

								<th>Name</th>
								<th>Contact Number</th>
								<th>Number Of Needy</th>
								<th>City</th>
								<th>Address</th>
								<th>Locality</th>
								<th>Landmark</th>
								<th>Request Status</th>
								<th>Request Type</th>
								<th>Requestor Name</th>
								<th>Requestor Number</th>
								<th>Date Of Entry</th>

							</tr>

							{% for item in items %}
							<tr>
								<td>
									<input type="checkbox" id="request_number" name={{item.request_id}} value={{item.request_id}}>
								</td>

								<td>{{item.name}}</td>
								<td>{{item.contact_num}}</td>
								<td>{{item.num_needy}}</td>
								<td>{{item.city}}</td>
								<td>{{item.requestor_address}}</td>
								<td>{{item.locality}}</td>
								<td>{{item.landmark}}</td>
								<td>{{item.request_status}}</td>
								<td>{{item.type_help}}</td>
								<td>{{item.volunteer_name}}</td>
								<td>{{item.vol_contact_num}}</td>
								<td>{{item.date_of_entry}}</td>
							</tr>
							{% endfor %}

						</table>
					</div>

						<div class="jumbotron jumbotron-fluid container_black_text p-4 mt-4">
							<p class="thick">
								DISCLAIMER: In order to avoid losing Requestors' information, we suggest noting down the details (name, address, phone number and request) or take a screenshot.
								<br>
								Feel free to contact us on <a style="color: blue" href="mailto:Covid19AhaarHelp@gmail.com">Covid19AhaarHelp@gmail.com</a> in case of any glitches.
							</p>
						</div>


						<div class="mb-4 pb-4">
							<button type="submit" class=" pendingbutton blue btn-center mt-0 blue btn-lg btn-center btn btn-info">
								Confirm the contribution
							</button>

						</div>



				</div>
			</div>

			<!-- add rest here -->
			<div class="container_black_text" style = "justify-content: center;margin-top: 10px;">
			</div>

		</form>
		</div>

	<script>
		function myAddressFunction() {
		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("myAddressInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("pendingTable");
		  tr = table.getElementsByTagName("tr");
		  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByTagName("td")[4];
		    if (td) {
		      txtValue = td.textContent || td.innerText;
		      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    }
		  }
		}
		</script>

		<script>
		function myLocalityFunction() {
		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("myLocalityInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("pendingTable");
		  tr = table.getElementsByTagName("tr");
		  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByTagName("td")[5];
		    if (td) {
		      txtValue = td.textContent || td.innerText;
		      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    }
		  }
		}
		</script>

		<script>
		function myLandmarkFunction() {
		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("myLandmarkInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("pendingTable");
		  tr = table.getElementsByTagName("tr");
		  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByTagName("td")[6];
		    if (td) {
		      txtValue = td.textContent || td.innerText;
		      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    }
		  }
		}
		</script>

		<script>
		function myHelpTypeFunction() {
		  var input, filter, table, tr, td, i, txtValue;
		  input = document.getElementById("myHelpTypeInput");
		  filter = input.value.toUpperCase();
		  table = document.getElementById("pendingTable");
		  tr = table.getElementsByTagName("tr");
		  for (i = 0; i < tr.length; i++) {
		    td = tr[i].getElementsByTagName("td")[9];
		    if (td) {
		      txtValue = td.textContent || td.innerText;
		      if (txtValue.toUpperCase().indexOf(filter) > -1) {
		        tr[i].style.display = "";
		      } else {
		        tr[i].style.display = "none";
		      }
		    }
		  }
		}
		</script>




    </div>
  </body>
	</html>
